<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Spoolers -->
		<section name="spoolers" type="it.jodan.SpoolPad.RuntimeConfiguration.NameValueMultipleSectionHandler, SpoolPad" />
		<!-- Common Loggin Section -->
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<!-- Log4Net Adapter -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<!-- Spring IOC Section -->
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
	<!-- SpoolPad Spoolers Configuration -->
	<spoolers>
		<!-- Availables: ToLog (NO UI), ToText (UI), ToHtml (UI) -->
		<!--<add key="spooler" value="ToLog"/>-->
		<add key="spooler" value="ToHtml"/>
		<!--<add key="spooler" value="ToText"/>-->
	</spoolers>
	<!-- Common Logging Configuration -->
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
				<arg key="configType" value="FILE-WATCH" />
				<arg key="configFile" value="~/log4net.cfg.xml" />
			</factoryAdapter>
		</logging>
	</common>
	<!-- Spring definitions Configuration -->
	<spring>
		<context>
			<!-- nhibernate embedded assembly configuration file(s) -->
			<resource uri="assembly://Equisetum2.NHibernate/Equisetum2.NHibernate.SpringDefintions/NHibernateDefs.xml" />
			<!-- Spoolpad embedded objects configuration -->
			<resource uri="assembly://SpoolPad/it.jodan.SpoolPad.SpringDefintions/SpoolPadSpringObjects.xml" />
		</context>
	</spring>
	<!-- Application Settings -->
	<appSettings>
		<!-- The service provider -->
		<add key="IServiceProvider" value="Equisetum2.Spring.SpringServiceProvider, Equisetum2.Spring" />
		<!-- Common data source configuration -->
		<add key="DBSettings.showsql" value="false" />
		<add key="DBSettings.factory.rebuildonthefly" value="true" />
	</appSettings>
</configuration>